/* body{
    background-color: aqua;
} */

/* p{
    color: violet;
    font-size: 80px;
}
 */

 
 body {
    padding-bottom: 500px;
   
 }

 /*  08 Classes */
 .paragrah{
    background-color: #000;
    color: aqua;
    padding: 5px;
 }
 
 #exclusive-title{
    background-color: purple;
    color: beige;
    padding: 10px;
    font-size: 40px;
 }

 /* 10 multiplas regras */
 h2{
    border-bottom:  2px dotted red;
}

.titulo{
     border-bottom:  3px solid blue;
 }

#algum-titulo{
    border-bottom: 4px solid green;
}

/* 11 nome da cor */
.color-name{
    color: crimson;
}

/* 12 hex */

.hex{
    background: green;
    color: white;
}

.hex-2{
    background: #55a398;
    color: white;
}
/* 13 Hex simplificado */

.simple-hex{
    /* color: #333333;     */
    color: #333;    
}

.simple-hex-2{
    /* color: #aa55ff;        */
    color: #a5f;       
}

.rgb{
    color: rgb(255, 0, 0);
}
.mixed-rgb{
    color: rgb(199, 21, 47 );
}
.rgba{
    color: rgba(255, 0, 0, 0.6);
}

.bg-image{
    background-image: url(../img/nature.jpg);
    padding: 10px;
    color: #fff;
}

.bg-opacity{
    background-color: green;
    opacity: 0.8;
}
.bg-opacity-2{
    background-color: #999;
    color:#000;
    opacity: 0.8;

}
.rgba-opacity{
    background-color: rgba(90, 12,20, 0.2);
    color: #000;
    opacity: 0.1;
}

.centered-bg,
.not-centered-bg{

    background-image: url(../img/bridge.jpg);
    height: 400px;
    width: 400px;
    
}

.centered-bg{
    border: 4px dotted purple;
    background-position: center;
    background-size: cover;
}

/* 19 -largura e altura */

.without-padding,
.padding {
     background-color: #111;
     color: #fff;   
}

.padding {
    background-color: #333;
    padding: 20px;
}

.individual{
    background-color: #222;
    color: #fff;
    /* padding-top: 5px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 20px; */
    padding: 5px 40px 40px 10px;
}

#teste1{
    display: flex;
    justify-content: center;
}

#oloco{
    background-image: linear-gradient(to left,orange,black);
    color: orange;
    height: 50px;
    width: 500px;
    text-align: center;
    border-top-right-radius: 30px ;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-aligned{
    text-align: right;
}

.container-center{
    text-align: center;
    border: solid red;
    margin-left: 130px;
    width: 300px;
}

.underline{
    text-decoration: underline;
}
.upper{
    text-transform: uppercase;
}
.lower{
    text-transform: lowercase;
}
.spacing{
    letter-spacing: 5px;
}
.sans-serif{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.thin{
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}
.inline-box{
    background-image: linear-gradient(to left,red,green,yellow);
  
    
    border: 2px solid red;
    width: 50px;
    text-align: center;
    font-size: 50px;
    margin: 20px;
    animation: load2 1.0s ease-in infinite;

    animation-delay: 0.3s;
    animation: rodopiar 2s infinite;
   
    
}

@keyframes load2{
    0%{
  transform: scale(1.0);
  
    }
    50%{
  transform: scale(1.2);
  
    }
    100%{
      transform: scale(1.0);
      
    }
  
   }

.display{
    display: flex;
    justify-content: center;
    margin: 5px;
   
}

@keyframes rodopiar{
    0%{
transform: rotate(0deg);
    }
    50%{
        transform: rotate(-90deg);
    }
    75%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.invisible{
    background-color: rgb(153, 72, 153);
    display: none;
}


.static{
    background-color: #4f8;
    height: 150px;
    width: 150px;
}